*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background:#fafafa;
    position:relative;
    }
@media only screen and (min-width:400px)
{
.mobile{
    display: none;
}
.container {
        display:table;
        clear:both;
        }
.header{
    margin: 0 1rem;
    padding: 1rem 2rem;
    width: 20%;
    float: left;
}
.header h1 {
    font-family: "Times New Roman";
    margin: 2rem auto;
    font-size: 3rem;
    font-weight: bold;
    }
.header ul {
        list-style:none;
}
.header a {
    color: #ababab;
    text-decoration: none;
    }

.header li {
        font-family:sans-serif;
        font-size: 85%;
        font-weight: 100;
        margin: 2rem auto;
        padding: 0.2rem 0 ;
        } 
.header a:hover{
            color:rgb(165, 158, 158);
            font-weight: bold;
        } 
.header a:active{
      text-decoration: line-through 0.2rem solid red;
}
.header button {
            position: relative;
            background: #fd5656;
            color: white;
            border: none;
            font-size: 80%;
            border-radius: 1.5rem;
            padding: 0.8rem 2.5rem;
            margin: 1rem auto;
            }
.content{  
          margin: 1rem 0;
          padding: 2rem 0;
          }
.maincont {
            text-align: left;
            display:flex;
            } 
.maincont h1{
    width: 50%;
    font-size: 4rem;
    font-weight: 800;
}
.maincont .about{
    width: 30%;
    margin: 0 2rem;
    padding: 0 3.5rem;
    
}
.maincont p {
    color: #ababab;
    margin: 1rem auto;
    padding: auto 3rem;
    padding-bottom: 1rem;
    font-family:sans-serif;
    }
svg{
    fill:#fd5656;
}
.items {
    position: relative;
    margin: 2rem 1rem;
    padding:1rem 0 0.5rem 0;;
}
.items ul{
    list-style: none;
    position: relative;
    padding:2rem;
}
.items li {
    position: relative;
    display:inline-block;
    text-align: center;
    margin:0.8rem;
    }  
.box span {
        display:block;
        margin:1rem auto;
        font-size:80%;
        font-weight: 500;
        font-family:sans-serif;
        }
    .box {
        position: relative;
        width: 8rem;
        height: 10rem;
        border-radius: 1.5rem;
        padding: 1rem 0.5rem 0 0.5rem;
        box-shadow:0 0 2rem 1px rgba(0, 0, 0, 0.3);
        }
 .box img {
            position:relative;
             width: 6rem;
             height:6rem;
             border-radius:50%;
             margin: auto;
             } 
            }         
/*mobile navigation*/

@media only screen and (max-width: 399px)
 {
  .desktop {
            display:none;
           } 
   .mobile {
            display:inline-block;
            }     
    svg{
        fill:#fd5656
    }  
   .cart{
        width: 1.2rem;
        height: 1.5rem;
        /*margin-left: 13rem;*/
        
    }
    .header {
        width:auto;
        margin:0;
        display: grid;
        grid-template-columns: 1fr 10fr 1fr;
       }
.header h1 {
           margin:auto;
           } 
    .content{
        
        margin:0;
        padding:0;
    }
    .maincont{
        grid-template-columns: 40fr;
               margin: 1rem 2rem; 
    }
    .maincont h1 {padding:0 1rem; 
        font-family: "Times New Roman";
        width:60%;
        font-size: 1.2rem;
        font-weight: bold;

                  
    }  
     
  
    .about p {
        width: 30%;
        margin: 0 2rem;
        padding: auto;
        margin:auto;
        } 
    .maincont ul {
                text-align:center;
                 }                         
    svg {
         display:block;
        }  
    .items {
            position: relative;
            margin: 1rem auto;
            padding: 0.5rem 0 0.1rem 0;
        }
    .items ul{
            list-style: none;
            position: relative;
        }
    .items li {
            position: relative;
            display:inline-flex;
            text-align: center;
       
            margin:1rem;
            } 
    .box img{
        height: 3.5rem;
        width: 4rem;
        position:relative;
        border-radius:50%;
        margin: auto;
    }
    .box span {
        display:block;
        margin:1rem auto;
        font-size:80%;
        font-weight: 500;
        font-family:sans-serif;
        }
        .box {
            position: relative;
            width: 6rem;
            height: 8rem;
            border-radius: 1.5rem;
            padding: 1rem 0.5rem 0 0.5rem;
            box-shadow:0 0 2rem 1px rgba(0, 0, 0, 0.3);
            margin: 1.5rem;
            padding: 0.5rem;
            justify-content: center;
            }
  #noshow
  {
      display: none;
  }     
        }          